<section id="about" class="py-30 bg-section">
    <div class="container">
        <h3 class="text-center title color-sec  text-7xl font-bold after:w-20 after:h-0.5 after:absolute after:start-1/2 after:top-[120%] after:-translate-x-1/2 after:z-10  relative mb-10 font-playwrite">
            A few words about us
        </h3>
        <p class="text-center subTitle text-2xl mb-20">
            Make your best moments more stylish with our latest designs of clothing.
        </p>

        <div class="aboutContent mt-20">
            <div class="firstAbout grid sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 gap-4 mb-10">
                <figure class="">
                    <img src="/assets/img/about-1-min.webp" >
                </figure>
                <div class="firstAboutCap flex justify-center items-center flex-col">
                    <h4 class="me-auto text-4xl mb-8">
                        Why choose us ?
                    </h4>
                    <p>
                        Maecenas congue metus id turpis iaculis mattis. Sed pellentesque id arcu id scelerisque. Ut ullamcorper rutrum justo, at blandit eros maximus ut. Integer non tincidunt justo, rhoncus Aenean venenatis sed purus ac sollicitudin. Nulla mauris risus, commodo et luctus rutrum, lobortis sed mauris. Integer congue, sem elementum varius tristique.
                    </p>
                </div>
            </div>

            <div class="secAbout grid sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 gap-4 mb-10">
                <div class="secAboutCap flex justify-center items-center flex-col">
                    <h4 class="me-auto text-4xl mb-8">
                        Trusted online shopping
                    </h4>
                    <p>
                        Maecenas congue metus id turpis iaculis mattis. Sed pellentesque id arcu id scelerisque. Ut ullamcorper rutrum justo, at blandit eros maximus ut. Integer non tincidunt justo, rhoncus Aenean venenatis sed purus ac sollicitudin. Nulla mauris risus, commodo et luctus rutrum, lobortis sed mauris. Integer congue, sem elementum varius tristique.
                    </p>
                </div>
                <figure class="">
                    <img src="/assets/img/about-2-min.webp" >
                </figure>
            </div>
        </div>
    </div>
</section>