<section id="home" class="home h-screen flex items-center">
  <div class="container">
    <div class="text-white">
      <h1 class="text-6xl playwrite">
        Elevate Your Home with <br />
        Stylish Furniture
      </h1>
      <p class="w-1/2 my-15 text-lg">
        Explore a range of high-quality, affordable furniture designed to transform any room. Discover the perfect
        blend of style, comfort, and functionality for your space.
      </p>
      <button class="btn">Shop Now</button>
    </div>
  </div>
</section>

<main>
  <app-cservices></app-cservices>
  <app-product></app-product>
  <app-about></app-about>
  <app-contact></app-contact>
</main>
