<section id="product" class="product py-30">
    <div class="container">
        <h3 class="text-center title text-7xl font-bold after:w-20 after:h-0.5 after:absolute after:start-1/2 after:top-[120%] after:-translate-x-1/2 after:z-10 after:bg-main relative mb-10 playwrite">Products</h3>
        <p class="text-center subTitle text-2xl mb-20">Best Selling Product</p>

        <div class="productContent mt-10 grid sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 gap-4 justify-center">
            

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 p-1.5">
    <figure class="rounded-2xl">
        <img class="rounded-lg" src="/assets/img/item-1-min.webp" alt="" />
    </figure>
    <div class="p-5">
        
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Winter Beige Vibes</h5>
        
        <div class="cardInfo flex justify-start items-center gap-2 my-2">
            <span>
                <i class="fas fa-star text-yellow-400 text-xl"></i>
            </span>

            <span class="text-black text-2xl" >4.8</span>

            <span class="text-gray-500 text-xl">(+500)</span>

        </div>
        <div class="cardPrice flex gap-2.5">
            <span class="text-amber-800 text-2xl">5000</span>
            <span class="text-gray-400 line-through text-2xl">10000 EGP</span>
        </div>
        
    </div>
</div>

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 p-1.5">
    <figure class="rounded-2xl">
        <img class="rounded-lg" src="/assets/img/item-2-min.webp" alt="" />
    </figure>
    <div class="p-5">
        
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Winter Beige Vibes</h5>
        
        <div class="cardInfo flex justify-start items-center gap-2 my-2">
            <span>
                <i class="fas fa-star text-yellow-400 text-xl"></i>
            </span>

            <span class="text-black text-2xl" >4.8</span>

            <span class="text-gray-500 text-xl">(+500)</span>

        </div>
        <div class="cardPrice flex gap-2.5">
            <span class="text-amber-800 text-2xl">5000</span>
            <span class="text-gray-400 line-through text-2xl">10000 EGP</span>
        </div>
        
    </div>
</div>

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 p-1.5">
    <figure class="rounded-2xl">
        <img class="rounded-lg" src="/assets/img/item-3-min.webp" alt="" />
    </figure>
    <div class="p-5">
        
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Winter Beige Vibes</h5>
        
        <div class="cardInfo flex justify-start items-center gap-2 my-2">
            <span>
                <i class="fas fa-star text-yellow-400 text-xl"></i>
            </span>

            <span class="text-black text-2xl" >4.8</span>

            <span class="text-gray-500 text-xl">(+500)</span>

        </div>
        <div class="cardPrice flex gap-2.5">
            <span class="text-amber-800 text-2xl">5000</span>
            <span class="text-gray-400 line-through text-2xl">10000 EGP</span>
        </div>
        
    </div>
</div>

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 p-1.5">
    <figure class="rounded-2xl">
        <img class="rounded-lg" src="/assets/img/item-4-min.webp" alt="" />
    </figure>
    <div class="p-5">
        
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Winter Beige Vibes</h5>
        
        <div class="cardInfo flex justify-start items-center gap-2 my-2">
            <span>
                <i class="fas fa-star text-yellow-400 text-xl"></i>
            </span>

            <span class="text-black text-2xl" >4.8</span>

            <span class="text-gray-500 text-xl">(+500)</span>

        </div>
        <div class="cardPrice flex gap-2.5">
            <span class="text-amber-800 text-2xl">5000</span>
            <span class="text-gray-400 line-through text-2xl">10000 EGP</span>
        </div>
        
    </div>
</div>

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 p-1.5">
    <figure class="rounded-2xl">
        <img class="rounded-lg" src="/assets/img/item-5-min.webp" alt="" />
    </figure>
    <div class="p-5">
        
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Winter Beige Vibes</h5>
        
        <div class="cardInfo flex justify-start items-center gap-2 my-2">
            <span>
                <i class="fas fa-star text-yellow-400 text-xl"></i>
            </span>

            <span class="text-black text-2xl" >4.8</span>

            <span class="text-gray-500 text-xl">(+500)</span>

        </div>
        <div class="cardPrice flex gap-2.5">
            <span class="text-amber-800 text-2xl">5000</span>
            <span class="text-gray-400 line-through text-2xl">10000 EGP</span>
        </div>
        
    </div>
</div>

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 p-1.5">
    <figure class="rounded-2xl">
        <img class="rounded-lg" src="/assets/img/item-6-min.webp" alt="" />
    </figure>
    <div class="p-5">
        
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Winter Beige Vibes</h5>
        
        <div class="cardInfo flex justify-start items-center gap-2 my-2">
            <span>
                <i class="fas fa-star text-yellow-400 text-xl"></i>
            </span>

            <span class="text-black text-2xl" >4.8</span>

            <span class="text-gray-500 text-xl">(+500)</span>

        </div>
        <div class="cardPrice flex gap-2.5">
            <span class="text-amber-800 text-2xl">5000</span>
            <span class="text-gray-400 line-through text-2xl">10000 EGP</span>
        </div>
        
    </div>
</div>

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 p-1.5">
    <figure class="rounded-2xl">
        <img class="rounded-lg" src="/assets/img/item-7-min.webp" alt="" />
    </figure>
    <div class="p-5">
        
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Winter Beige Vibes</h5>
        
        <div class="cardInfo flex justify-start items-center gap-2 my-2">
            <span>
                <i class="fas fa-star text-yellow-400 text-xl"></i>
            </span>

            <span class="text-black text-2xl" >4.8</span>

            <span class="text-gray-500 text-xl">(+500)</span>

        </div>
        <div class="cardPrice flex gap-2.5">
            <span class="text-amber-800 text-2xl">5000</span>
            <span class="text-gray-400 line-through text-2xl">10000 EGP</span>
        </div>
        
    </div>
</div>

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 p-1.5">
    <figure class="rounded-2xl">
        <img class="rounded-lg" src="/assets/img/item-8-min.webp" alt="" />
    </figure>
    <div class="p-5">
        
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Winter Beige Vibes</h5>
        
        <div class="cardInfo flex justify-start items-center gap-2 my-2">
            <span>
                <i class="fas fa-star text-yellow-400 text-xl"></i>
            </span>

            <span class="text-black text-2xl" >4.8</span>

            <span class="text-gray-500 text-xl">(+500)</span>

        </div>
        <div class="cardPrice flex gap-2.5">
            <span class="text-amber-800 text-2xl">5000</span>
            <span class="text-gray-400 line-through text-2xl">10000 EGP</span>
        </div>
        
    </div>
</div>

        </div>
    </div>
</section>