<section id="services" class="bg-section py-30">
    <div class="container">
         <h3 class="text-center title text-7xl font-bold after:w-20 after:h-0.5 after:absolute after:start-1/2 after:top-[120%] after:-translate-x-1/2 after:z-10 after:bg-main relative mb-10 playwrite">Services</h3>
    <p class="text-center text-2xl mb-20">Benefits when using <br>our services</p>
    <div class="servicesContent grid sm:grid-cols-2 lg:grid-cols-3 gap-3">
         <div class="p-10 shadow-sm bg-white">
        <span class="size-20 p-2 text-3xl rounded-full bg-section">
            <i class="fa-regular fa-lightbulb color-main"></i>
        </span>
        
        <h4 class="my-6 text-4xl subTitle font-bold">
            Inspiration
        </h4>
        <p class="text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, blanditiis?</p>
    </div>

     <div class="p-10 shadow-sm bg-white">
        <span class="size-20 p-2 text-3xl rounded-full bg-section">
            <i class="fa-solid fa-headphones color-main"></i>
        </span>
        
        <h4 class="my-6 text-4xl subTitle font-bold">
            24/7 Customer Services
        </h4>
        <p class="text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, blanditiis?</p>
    </div>

     <div class="p-10 shadow-sm bg-white">
        <span class="size-20 p-2 text-3xl rounded-full bg-section ">
            <i class="fa-solid fa-truck-fast color-main"></i>
        </span>
        
        <h4 class="my-6 text-4xl subTitle font-bold">
            Express Shipping
        </h4>
        <p class="text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, blanditiis?</p>
    </div>
    </div>

    </div>
   
    
</section>